<style>
    .form-group{
        font-size: 15px;
        font-weight: bold;
    }
  
</style>
<form action="/user/addproduct" method="POST" autocomplete="off" enctype="multipart/form-data">
    <div class="container border p-4 mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mb-4">Thêm sản phẩm</h1>
                <input type="hidden" name="id" value="{{user._id}}" />
                <div class="form-group">
                    <label for="name">mã sản phẩm </label>
                    <input type="text" class="form-control" id="masp" value="{{user.masp}}"
                        required name="masp">
                </div>
                <div class="form-group">
                    <label for="name">Tên sản phẩm </label>
                    <input type="name" class="form-control" id="tensp" value="{{user.tensp}}"
                        required name="tensp">
                </div>
                <div class="form-group">
                    <label for="name">giá sản phẩm</label>
                    <input type="name" class="form-control" value="{{user.dongiasp}}" id="dongiasp"
                        required name="dongiasp">
                </div>
                <div class="form-group">
                    <label for="name">Avatar</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="img-pre" value="{{user.imgsp}}" required
                            name="imgsp">
                        <label class="custom-file-label" for="avatar">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">màu sản phẩm</label>
                    <input type="name" class="form-control" value="{{user.mausacsp}}" id="mausacsp"
                         required name="mausacsp">
                </div>
                <div class="form-group">
                    <label for="name">loại sản phẩm </label>
                    <input type="name" class="form-control" value="{{user.loaisanpham}}" id="loaisanpham"
                         required name="loaisanpham">
                </div>
                <div class="form-group">
                    <label for="name">mã khách hàng</label>
                    <input type="name" class="form-control" value="{{user.makhachhang}}" id="makhachhang"
                        required name="makhachhang">
                </div>
                <div class="form-group">
                    <label for="name">tên khách hàng</label>
                    <input type="name" class="form-control" value="{{user.tenkhachhang}}" id="tenkhachhang"
                         required name="tenkhachhang">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
            </div>
        </div>
    </div>
</form>
<script>
  const imgInput = document.getElementById('img');
  const imgPreview = document.getElementById('img-pre');
  
  imgInput.addEventListener('change', () => {
    const file = imgInput.files[0];
    const reader = new FileReader();
  
    reader.addEventListener("load", function () {
      imgPreview.src = reader.result;
    }, false);
  
    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>