<form action="/user/update/{{user._id}}?_method=PUT" method="POST" autocomplete="off" enctype="multipart/form-data">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="display: {{display}};">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/chmhc">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/user/getAllUsers">user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/user/getAllsp">sanpham</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">

        <h1>Update</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" value="{{user.name}}" placeholder="Enter your name" required
            name="name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" value="{{user.email}}" placeholder="Enter your email" required
            name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" required name="password"
            value="{{user.password}}">
        </div>
  <div class="form-group">
  <label for="role">Vai trò:</label>
  <select class="form-control" id="role" name="role">
    {{#if (isUser)}}
      <option selected value="user">User</option>
      <option value="admin">Admin</option>
    {{else}}
      <option value="user">User</option>
      <option selected value="admin">Admin</option>
    {{/if}}
  </select>
</div>

        <div class="form-group">
          <label for="avatar">Avatar</label>
          <div class="custom-file">
            <img src="{{user.img}}" alt="" id="img-preview" style="height: 100px; width: 100px;">
            <input type="file" class="custom-file-input" id="img" name="img">
            <label class="custom-file-label" for="img">Choose file</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>

<script>
  const avatarInput = document.getElementById('img');
  const imgPreview = document.getElementById('img-preview');
  avatarInput.addEventListener('change', () => {
    const file = avatarInput.files[0];
    const reader = new FileReader();

    reader.addEventListener("load", function () {
      imgPreview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>

<script>
  // Khai báo hàm isUser
  Handlebars.registerHelper('isUser', function(role) {
    return role === 'user';
  });

  // Sử dụng template
  var template = Handlebars.compile($("#my-template").html());
  var html = template({ userEdit: { role: 'user' } });
  $("#my-container").html(html);
</script>